.flows_asus-server.json.backup
[{"id":"268f1e8.14cd1e2","type":"tab","label":"Live Parameter","disabled":false,"info":""},{"id":"506f4c08.a16814","type":"http in","z":"268f1e8.14cd1e2","name":"LiveTags","url":"/api/getLiveTags","method":"get","upload":false,"swaggerDoc":"","x":323,"y":41,"wires":[["a79d8db9.871ee","e33c820b.b9b83"]]},{"id":"bf7d0db7.773b7","type":"http response","z":"268f1e8.14cd1e2","name":"LiveTags Response","statusCode":"200","headers":{},"x":812,"y":42,"wires":[]},{"id":"df89b45c.ed3828","type":"json","z":"268f1e8.14cd1e2","name":"","property":"liveTags","action":"str","pretty":false,"x":639,"y":42,"wires":[["bf7d0db7.773b7"]]},{"id":"a79d8db9.871ee","type":"function","z":"268f1e8.14cd1e2","name":"gen obj","func":"a = [];\nfor (var i = 0; i < 15; i++) {\n    a.push({\"name\":\"velocita_\"+i,\"value\": Math.random().toFixed(3)});\n}\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":41,"wires":[["df89b45c.ed3828"]]},{"id":"e33c820b.b9b83","type":"debug","z":"268f1e8.14cd1e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":547,"y":99,"wires":[]}]