flows_asus-server.json
[{"id":"cc532914.a496b8","type":"tab","label":"Core","disabled":false,"info":""},{"id":"268f1e8.14cd1e2","type":"tab","label":"Tags API","disabled":false,"info":""},{"id":"d83ff03b.eab3d","type":"tab","label":"Lavorazioni API","disabled":false,"info":""},{"id":"ad7d5e0a.ab116","type":"tab","label":"Produzione","disabled":false,"info":""},{"id":"a27b8c33.f4ddb","type":"tab","label":"Ultimi Tagli","disabled":false,"info":""},{"id":"4a0e01ee.74339","type":"tab","label":"Dbg","disabled":false,"info":""},{"id":"da24c341.544a7","type":"tab","label":"Worker","disabled":false,"info":""},{"id":"b22b526a.88de9","type":"subflow","name":"dbgLog","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"7ff2f578.7c951c"}]}],"out":[{"x":550,"y":30,"wires":[{"id":"cac2a927.73ed58","port":0}]}]},{"id":"be5a17b9.43c8b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"RIBONI","tz":""},{"id":"506f4c08.a16814","type":"http in","z":"268f1e8.14cd1e2","name":"NormalTags","url":"/api/getNormalTags","method":"get","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["a79d8db9.871ee"]]},{"id":"bf7d0db7.773b7","type":"http response","z":"268f1e8.14cd1e2","name":"Normal Tags Response","statusCode":"200","headers":{},"x":680,"y":80,"wires":[]},{"id":"df89b45c.ed3828","type":"json","z":"268f1e8.14cd1e2","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":80,"wires":[["bf7d0db7.773b7"]]},{"id":"a79d8db9.871ee","type":"function","z":"268f1e8.14cd1e2","name":"gen obj","func":"msg.payload = global.get(\"tags.normali\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["df89b45c.ed3828"]]},{"id":"92976612.d24d08","type":"function","z":"cc532914.a496b8","name":"Tags Reader and Organizer","func":"t = global.get(\"tags\");\n\nif (t===undefined) {\n    t = {\"normali\":[],\"critiche\":[], \"utility\":[], \"allarmi\":[]};\n    \n    t.normali.push({\"name\":\"Velocita_1\",\"value\": 0});\n    t.normali.push({\"name\":\"Velocita_2\",\"value\": 0});\n    t.normali.push({\"name\":\"Velocita_3\",\"value\": 0});\n    t.normali.push({\"name\":\"PezziTagliati\",\"value\": 0});\n    t.normali.push({\"name\":\"CodiceProduzione\",\"value\": 0});\n    \n    t.critiche.push({\"name\":\"Velocita_1\",\"value\": 0});\n    t.critiche.push({\"name\":\"Velocita_2\",\"value\": 0});\n    \n    t.utility.push({\"name\":\"Mod_Automatica\",\"value\": false});\n    t.utility.push({\"name\":\"StatoCentralina\",\"value\": true});\n    t.utility.push({\"name\":\"StatoOlio\",\"value\": true});\n    \n    t.allarmi.push({\"name\":\"Pressostato\",\"value\": false});\n    t.allarmi.push({\"name\":\"LivelloOlio\",\"value\": true});\n    t.allarmi.push({\"name\":\"Pressione Rullo\",\"value\": true});\n    \n    \n}\nelse{\n    t.normali[0].value = t.normali[0].value +1;\n    t.normali[1].value = t.normali[1].value +1;\n    t.normali[2].value = t.normali[2].value +1;\n    t.normali[3].value = t.normali[3].value +1;\n    t.normali[4].value = \"2019-89-52541\";\n    \n    t.critiche[0].value = t.normali[0].value +1;\n    t.critiche[1].value = t.normali[1].value +1;\n}\n\n\n\nglobal.set(\"tags\",t)\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":40,"wires":[[]]},{"id":"bf265f2c.eed5d","type":"inject","z":"cc532914.a496b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":40,"wires":[["92976612.d24d08"]]},{"id":"b7fd0b56.fc9888","type":"comment","z":"268f1e8.14cd1e2","name":"API GET TAGS | Normali","info":"","x":150,"y":40,"wires":[]},{"id":"f45d3c27.00f38","type":"comment","z":"268f1e8.14cd1e2","name":"API GET TAGS | Critical","info":"","x":150,"y":160,"wires":[]},{"id":"30264b7d.be5e54","type":"comment","z":"268f1e8.14cd1e2","name":"API GET TAGS | Utility","info":"","x":140,"y":280,"wires":[]},{"id":"af586cd6.979b","type":"comment","z":"268f1e8.14cd1e2","name":"API GET TAGS | Allarmi","info":"","x":150,"y":400,"wires":[]},{"id":"27383df8.4ca502","type":"http in","z":"268f1e8.14cd1e2","name":"Critical Tags","url":"/api/getCriticalTags","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["3ca10f85.1b8f2"]]},{"id":"e39f036f.19eb7","type":"http response","z":"268f1e8.14cd1e2","name":"Critical Tags Response","statusCode":"200","headers":{},"x":680,"y":200,"wires":[]},{"id":"1d126bb4.4d5c14","type":"json","z":"268f1e8.14cd1e2","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":200,"wires":[["e39f036f.19eb7"]]},{"id":"3ca10f85.1b8f2","type":"function","z":"268f1e8.14cd1e2","name":"gen obj","func":"msg.payload = global.get(\"tags.critiche\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["1d126bb4.4d5c14"]]},{"id":"31fdc221.6b6fbe","type":"http in","z":"268f1e8.14cd1e2","name":"Utility Tags","url":"/api/getUtilityTags","method":"get","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["dde2efff.d7e6d"]]},{"id":"1b51dc2c.fedc74","type":"http response","z":"268f1e8.14cd1e2","name":"Utility Tags Response","statusCode":"200","headers":{},"x":680,"y":320,"wires":[]},{"id":"3969c628.52312a","type":"json","z":"268f1e8.14cd1e2","name":"","property":"payload","action":"str","pretty":false,"x":500,"y":320,"wires":[["1b51dc2c.fedc74"]]},{"id":"dde2efff.d7e6d","type":"function","z":"268f1e8.14cd1e2","name":"gen obj","func":"msg.payload = global.get(\"tags.utility\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["3969c628.52312a"]]},{"id":"fab514f5.d34768","type":"http in","z":"268f1e8.14cd1e2","name":"Allarmi Tags","url":"/api/getAlarmsTags","method":"get","upload":false,"swaggerDoc":"","x":110,"y":450,"wires":[["6df30c44.68a0e4"]]},{"id":"d8640efe.e7b57","type":"http response","z":"268f1e8.14cd1e2","name":"Allarmi Tags Response","statusCode":"200","headers":{},"x":670,"y":450,"wires":[]},{"id":"947c6d6d.c65","type":"json","z":"268f1e8.14cd1e2","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":450,"wires":[["d8640efe.e7b57"]]},{"id":"6df30c44.68a0e4","type":"function","z":"268f1e8.14cd1e2","name":"gen obj","func":"msg.payload = global.get(\"tags.allarmi\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":450,"wires":[["947c6d6d.c65"]]},{"id":"21a22f07.b16c1","type":"http in","z":"d83ff03b.eab3d","name":"http request","url":"/api/lavorazioni","method":"get","upload":false,"swaggerDoc":"","x":90,"y":70,"wires":[["962b2b61.896f78"]]},{"id":"75476f11.ffcd5","type":"http response","z":"d83ff03b.eab3d","name":"http response","statusCode":"200","headers":{},"x":860,"y":70,"wires":[]},{"id":"31ce54cb.24af0c","type":"json","z":"d83ff03b.eab3d","name":"","property":"payload","action":"str","pretty":false,"x":690,"y":70,"wires":[["75476f11.ffcd5"]]},{"id":"788ba169.2127c","type":"comment","z":"d83ff03b.eab3d","name":"API GET LAVORAZIONI | restituisce l'elenco completo delle lavorazioni disponibili","info":"","x":310,"y":30,"wires":[]},{"id":"962b2b61.896f78","type":"function","z":"d83ff03b.eab3d","name":"Query Composer","func":"query = `select * from LAVORAZIONI`\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":70,"wires":[["bae33c5b.89d94"]]},{"id":"bae33c5b.89d94","type":"mysql","z":"d83ff03b.eab3d","mydb":"be5a17b9.43c8b8","name":"","x":520,"y":70,"wires":[["31ce54cb.24af0c"]]},{"id":"1d6e07bc.b16918","type":"http in","z":"d83ff03b.eab3d","name":"http request","url":"/api/lavorazioni","method":"delete","upload":false,"swaggerDoc":"","x":100,"y":480,"wires":[["6be5f5b5.205f5c","d1829a35.3e8438"]]},{"id":"529776df.3705c8","type":"http response","z":"d83ff03b.eab3d","name":"http response","statusCode":"200","headers":{},"x":870,"y":480,"wires":[]},{"id":"55b23e35.411f3","type":"json","z":"d83ff03b.eab3d","name":"","property":"payload","action":"str","pretty":false,"x":700,"y":480,"wires":[["529776df.3705c8"]]},{"id":"e411b1c6.85e3a","type":"comment","z":"d83ff03b.eab3d","name":"API DELETE LAVORAZIONI | cancella dal database la lavorazione richiesta dal parametro id","info":"","x":350,"y":440,"wires":[]},{"id":"6be5f5b5.205f5c","type":"function","z":"d83ff03b.eab3d","name":"Query Composer","func":"query = `DELETE FROM LAVORAZIONI WHERE ID = ${msg.req.query.id}`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["5c8341a7.92012"]]},{"id":"5c8341a7.92012","type":"mysql","z":"d83ff03b.eab3d","mydb":"be5a17b9.43c8b8","name":"","x":530,"y":480,"wires":[["55b23e35.411f3"]]},{"id":"d1829a35.3e8438","type":"debug","z":"d83ff03b.eab3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.query","x":340,"y":520,"wires":[]},{"id":"abd2c12d.f3389","type":"http in","z":"d83ff03b.eab3d","name":"http request","url":"/api/lavorazioni","method":"put","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["b46c2dde.9549d","295a4908.3c6186"]]},{"id":"3bb65695.0b1bba","type":"http response","z":"d83ff03b.eab3d","name":"http response","statusCode":"200","headers":{},"x":860,"y":180,"wires":[]},{"id":"c30098a7.058da8","type":"json","z":"d83ff03b.eab3d","name":"","property":"payload","action":"str","pretty":false,"x":690,"y":180,"wires":[["3bb65695.0b1bba"]]},{"id":"69e85923.53ee98","type":"comment","z":"d83ff03b.eab3d","name":"API PUT LAVORAZIONI | crea una nuova lavorazione da json letto nel body della richiesta","info":"","x":330,"y":140,"wires":[]},{"id":"295a4908.3c6186","type":"function","z":"d83ff03b.eab3d","name":"Query Composer","func":"obj= msg.req.body;\n\nquery = `insert into RIBONI.LAVORAZIONI (NAME,PARAM_1,PARAM_2,PARAM_3,PARAM_4,PARAM_5,PARAM_6,PARAM_7,PARAM_8,PARAM_9) values\n('${obj.NAME}',${obj.P_1},${obj.P_2},${obj.P_3},${obj.P_4},${obj.P_5},${obj.P_6},${obj.P_7},${obj.P_8},${obj.P_9})`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["72129265.cf318c"]]},{"id":"72129265.cf318c","type":"mysql","z":"d83ff03b.eab3d","mydb":"be5a17b9.43c8b8","name":"","x":520,"y":180,"wires":[["c30098a7.058da8"]]},{"id":"b46c2dde.9549d","type":"debug","z":"d83ff03b.eab3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","x":330,"y":220,"wires":[]},{"id":"dbbc41f1.bcad8","type":"http in","z":"d83ff03b.eab3d","name":"http request","url":"/api/lavorazioni","method":"patch","upload":false,"swaggerDoc":"","x":100,"y":330,"wires":[["11155757.b0eee9","9e399ab4.4a1508"]]},{"id":"6820bf21.014b4","type":"http response","z":"d83ff03b.eab3d","name":"http response","statusCode":"200","headers":{},"x":870,"y":330,"wires":[]},{"id":"625336c.6d039c8","type":"json","z":"d83ff03b.eab3d","name":"","property":"payload","action":"str","pretty":false,"x":700,"y":330,"wires":[["6820bf21.014b4"]]},{"id":"c1e8ed60.18c33","type":"comment","z":"d83ff03b.eab3d","name":"API PATCH LAVORAZIONI | aggiorna la lavorazione nel database in base al json letto nel body","info":"","x":360,"y":290,"wires":[]},{"id":"9e399ab4.4a1508","type":"function","z":"d83ff03b.eab3d","name":"Query Composer","func":"obj= msg.req.body;\n\nquery = `update RIBONI.LAVORAZIONI SET \nNAME = '${obj.NAME}',\nPARAM_1 = ${obj.P_1},\nPARAM_2 = ${obj.P_2},\nPARAM_3 = ${obj.P_3},\nPARAM_4 = ${obj.P_4},\nPARAM_5 = ${obj.P_5},\nPARAM_6 = ${obj.P_6},\nPARAM_7 = ${obj.P_7},\nPARAM_8 = ${obj.P_8},\nPARAM_9 = ${obj.P_9}\nWHERE ID = ${obj.ID}`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":330,"wires":[["244d92f8.15480e"]]},{"id":"244d92f8.15480e","type":"mysql","z":"d83ff03b.eab3d","mydb":"be5a17b9.43c8b8","name":"","x":530,"y":330,"wires":[["625336c.6d039c8"]]},{"id":"11155757.b0eee9","type":"debug","z":"d83ff03b.eab3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","x":340,"y":370,"wires":[]},{"id":"316467e6.5f4768","type":"http in","z":"ad7d5e0a.ab116","name":"http request","url":"/api/produzione","method":"get","upload":false,"swaggerDoc":"","x":100,"y":70,"wires":[["aede9a97.096be8"]]},{"id":"345f6315.1562dc","type":"http response","z":"ad7d5e0a.ab116","name":"http response","statusCode":"200","headers":{},"x":870,"y":70,"wires":[]},{"id":"4a2ec69e.e15328","type":"json","z":"ad7d5e0a.ab116","name":"","property":"payload","action":"str","pretty":false,"x":700,"y":70,"wires":[["345f6315.1562dc"]]},{"id":"afac0ba4.0b75f8","type":"comment","z":"ad7d5e0a.ab116","name":"API GET PRODUZIONE | restituisce l'elenco completo della produzione","info":"","x":290,"y":30,"wires":[]},{"id":"aede9a97.096be8","type":"function","z":"ad7d5e0a.ab116","name":"Query Composer","func":"query = `select p.ID, p.CODICE_PRODUZIONE, l.NAME as 'NOME RICETTA', p.TARGET, p.PRODOTTI  from RIBONI.PRODUZIONE p\njoin RIBONI.LAVORAZIONE l ON l.ID = p.ID_LAVORAZIONE`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":70,"wires":[["a5655f48.8a387"]]},{"id":"a5655f48.8a387","type":"mysql","z":"ad7d5e0a.ab116","mydb":"be5a17b9.43c8b8","name":"","x":530,"y":70,"wires":[["4a2ec69e.e15328"]]},{"id":"cf38d4fd.944428","type":"http in","z":"ad7d5e0a.ab116","name":"http request","url":"/api/produzione","method":"put","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["97371275.19936","cbed0ce.91896f"]]},{"id":"20782f8f.1e3c1","type":"http response","z":"ad7d5e0a.ab116","name":"http response","statusCode":"200","headers":{},"x":870,"y":180,"wires":[]},{"id":"4a395b4b.a975c4","type":"json","z":"ad7d5e0a.ab116","name":"","property":"payload","action":"str","pretty":false,"x":700,"y":180,"wires":[["20782f8f.1e3c1"]]},{"id":"20489a94.f36e26","type":"comment","z":"ad7d5e0a.ab116","name":"API PUT PRODUZIONE | crea una nuova produzione da json letto nel body della richiesta","info":"","x":340,"y":140,"wires":[]},{"id":"cbed0ce.91896f","type":"function","z":"ad7d5e0a.ab116","name":"Query Composer","func":"obj= msg.req.body;\n\nquery = `insert into RIBONI.PRODUZIONE (ID_LAVORAZIONE,CODICE_PRODUZIONE,TARGET) values\n(${obj.idLavorazione},'${obj.codiceProduzione}',${obj.target})`;\nnode.warn(query);\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["a1d1f11a.ad888"]]},{"id":"a1d1f11a.ad888","type":"mysql","z":"ad7d5e0a.ab116","mydb":"be5a17b9.43c8b8","name":"","x":530,"y":180,"wires":[["4a395b4b.a975c4"]]},{"id":"97371275.19936","type":"debug","z":"ad7d5e0a.ab116","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","x":340,"y":220,"wires":[]},{"id":"95a247c8.af5268","type":"http in","z":"ad7d5e0a.ab116","name":"http request","url":"/api/produzione","method":"delete","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["1dc2a1c7.68237e","58996e6e.59945"]]},{"id":"90a08249.b7d27","type":"http response","z":"ad7d5e0a.ab116","name":"http response","statusCode":"200","headers":{},"x":870,"y":320,"wires":[]},{"id":"ab0b5d5c.68299","type":"json","z":"ad7d5e0a.ab116","name":"","property":"payload","action":"str","pretty":false,"x":700,"y":320,"wires":[["90a08249.b7d27"]]},{"id":"558b70dc.ebd8f","type":"comment","z":"ad7d5e0a.ab116","name":"API DELETE PRODUZIONE | cancella dal database la produzione richiesta dal parametro id","info":"","x":350,"y":280,"wires":[]},{"id":"1dc2a1c7.68237e","type":"function","z":"ad7d5e0a.ab116","name":"Query Composer","func":"node.warn(msg.req.query);\nquery = `DELETE FROM PRODUZIONE WHERE ID = ${msg.req.query.id}`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["7382ee78.22b3a"]]},{"id":"7382ee78.22b3a","type":"mysql","z":"ad7d5e0a.ab116","mydb":"be5a17b9.43c8b8","name":"","x":530,"y":320,"wires":[["ab0b5d5c.68299"]]},{"id":"58996e6e.59945","type":"debug","z":"ad7d5e0a.ab116","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.query","x":340,"y":360,"wires":[]},{"id":"cac2a927.73ed58","type":"mysql","z":"b22b526a.88de9","mydb":"be5a17b9.43c8b8","name":"","x":410,"y":30,"wires":[[]]},{"id":"7ff2f578.7c951c","type":"function","z":"b22b526a.88de9","name":"Query Composer","func":"\nquery = ` REPLACE INTO RIBONI.DBG\nSET DBG_ID = (SELECT COALESCE(MAX(ID), 0) % 5 + 1 FROM DBG as d),\nINFO = '${msg.dbgmsg.info}',\nOBJECT = '${msg.dbgmsg.object}',\nSTATE = ${msg.dbgmsg.state},\nMESSAGE='${msg.dbgmsg.message}',\nINNER_EXCEPTION='${msg.dbgmsg.innerEx}';`\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":30,"wires":[["cac2a927.73ed58"]]},{"id":"fd953499.a039e8","type":"subflow:b22b526a.88de9","z":"4a0e01ee.74339","name":"","x":490,"y":40,"wires":[["17d76bbb.57c914"]]},{"id":"279e60de.10ded","type":"inject","z":"4a0e01ee.74339","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["ac21bdd8.cc7d"]]},{"id":"17d76bbb.57c914","type":"debug","z":"4a0e01ee.74339","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":40,"wires":[]},{"id":"ac21bdd8.cc7d","type":"function","z":"4a0e01ee.74339","name":"Log message Demo","func":"msg.dbgmsg = {\n    \"info\":\"test\",\n    \"object\":\"dbg node\",\n    \"state\":\"0\",\n    \"message\":\"errore insert\",\n    \"innerEx\":\"...\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["fd953499.a039e8"]]},{"id":"ce035554.bbd158","type":"http in","z":"a27b8c33.f4ddb","name":"http request","url":"/api/tagli","method":"get","upload":false,"swaggerDoc":"","x":100,"y":70,"wires":[["45f3bf2e.f40ec"]]},{"id":"df51ca27.dcbf48","type":"http response","z":"a27b8c33.f4ddb","name":"http response","statusCode":"200","headers":{},"x":870,"y":70,"wires":[]},{"id":"9936f711.2f8af8","type":"json","z":"a27b8c33.f4ddb","name":"","property":"payload","action":"str","pretty":false,"x":700,"y":70,"wires":[["df51ca27.dcbf48"]]},{"id":"4bd8201c.32a45","type":"comment","z":"a27b8c33.f4ddb","name":"API GET TAGLI | restituisce l'elenco completo degli ultimi tagli effettuati","info":"","x":280,"y":30,"wires":[]},{"id":"45f3bf2e.f40ec","type":"function","z":"a27b8c33.f4ddb","name":"Query Composer","func":"\nquery = `select * from TAGLI order by ID desc limit ${msg.req.query.count}`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":70,"wires":[["66559cd1.95b424"]]},{"id":"66559cd1.95b424","type":"mysql","z":"a27b8c33.f4ddb","mydb":"be5a17b9.43c8b8","name":"","x":530,"y":70,"wires":[["9936f711.2f8af8"]]},{"id":"c15f27b1.26f088","type":"comment","z":"da24c341.544a7","name":"Aggiunta nuovo pezzo tagliato","info":"","x":150,"y":40,"wires":[]},{"id":"32df3f4b.3cfd2","type":"inject","z":"da24c341.544a7","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":90,"wires":[["3edc77c.2dc9588"]]},{"id":"3edc77c.2dc9588","type":"function","z":"da24c341.544a7","name":"Production checker","func":"glb = global.get(\"tags.normali\");\ncounter = glb[3].value; //numero pezzi tagliati\ncodiceProduzione = glb[4].value; //codiceProduzione\n\nlastCounter = flow.get(\"lastCounter\") || 0;\n\nif (lastCounter !== counter){\n    flow.set(\"lastCounter\", counter);\n    flow.set(\"codiceProduzione\", codiceProduzione);\n    msg.needInsert = true;\n}\nelse\n    msg.needInsert = false;\n    \n    \nreturn msg;","outputs":1,"noerr":0,"x":290,"y":90,"wires":[["fac32cb0.d690f","d9c880c9.5e652"]]},{"id":"fac32cb0.d690f","type":"switch","z":"da24c341.544a7","name":"if needInsert is true","property":"needInsert","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":70,"wires":[["a0bd00a2.b62fa"]]},{"id":"a0bd00a2.b62fa","type":"function","z":"da24c341.544a7","name":"Query Composer","func":"counter = flow.get(\"lastCounter\");\ncodiceProduzione = flow.get(\"codiceProduzione\");\nmaxRowNumber = 6307200; // questo valore garantisce una tabella di max 900 MB, ed una storicizzazione di 1 anno, prendendo\n//come valori 1/5 taglio al secondo e salvati i valori della tabella di prova \n\nquery = `REPLACE INTO RIBONI.TAGLI\nSET ID_LOG = (SELECT COALESCE(MAX(ID), 0) % ${maxRowNumber} + 1 FROM TAGLI as d),\nCODICE_PRODUZIONE = '${codiceProduzione}',\nNOME_LAVORAZIONE = '${'lavorazioe'}',\nPV_PAR_1 = ${counter},\nPV_PAR_2=45,\nPV_PAR_3=35,\nPV_PAR_4=35,\nPV_PAR_5=35,\nPV_PAR_6=35,\nPV_PAR_7=35,\nPV_PAR_8=35,\nPV_PAR_9=35`;\n\n\nmsg.topic = query;\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":70,"wires":[["9ef697df.cf19f8"]]},{"id":"9ef697df.cf19f8","type":"mysql","z":"da24c341.544a7","mydb":"be5a17b9.43c8b8","name":"","x":950,"y":70,"wires":[[]]},{"id":"d9c880c9.5e652","type":"switch","z":"da24c341.544a7","name":"if needInsert is false","property":"needInsert","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":110,"wires":[["f7269afd.dbc0c8"]]},{"id":"f7269afd.dbc0c8","type":"debug","z":"da24c341.544a7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":110,"wires":[]}]