flows_asus-server.json
[{"id":"268f1e8.14cd1e2","type":"tab","label":"Live Tags","disabled":false,"info":""},{"id":"4184ef00.67d9c","type":"tab","label":"Critical Tags","disabled":false,"info":""},{"id":"506f4c08.a16814","type":"http in","z":"268f1e8.14cd1e2","name":"LiveTags","url":"/api/getLiveTags","method":"get","upload":false,"swaggerDoc":"","x":94,"y":36,"wires":[["a79d8db9.871ee","e33c820b.b9b83"]]},{"id":"bf7d0db7.773b7","type":"http response","z":"268f1e8.14cd1e2","name":"LiveTags Response","statusCode":"200","headers":{},"x":583,"y":37,"wires":[]},{"id":"df89b45c.ed3828","type":"json","z":"268f1e8.14cd1e2","name":"","property":"liveTags","action":"str","pretty":false,"x":410,"y":37,"wires":[["bf7d0db7.773b7"]]},{"id":"a79d8db9.871ee","type":"function","z":"268f1e8.14cd1e2","name":"gen obj","func":"a = [];\nfor (var i = 0; i < 15; i++) {\n    a.push({\"name\":\"velocita_\"+i,\"value\": Math.random().toFixed(3)});\n}\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":279,"y":36,"wires":[["df89b45c.ed3828"]]},{"id":"e33c820b.b9b83","type":"debug","z":"268f1e8.14cd1e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":318,"y":94,"wires":[]},{"id":"8bf210f0.c7209","type":"http in","z":"4184ef00.67d9c","name":"Critical Tags","url":"/api/getCriticalTags","method":"get","upload":false,"swaggerDoc":"","x":110,"y":42,"wires":[["a1e01a37.946728","d754ce98.4575c"]]},{"id":"80c198c4.a40fe8","type":"http response","z":"4184ef00.67d9c","name":"Critical Tags Response","statusCode":"200","headers":{},"x":599,"y":43,"wires":[]},{"id":"3abafc63.d828d4","type":"json","z":"4184ef00.67d9c","name":"","property":"liveTags","action":"str","pretty":false,"x":416,"y":43,"wires":[["80c198c4.a40fe8"]]},{"id":"a1e01a37.946728","type":"function","z":"4184ef00.67d9c","name":"gen obj","func":"a = [];\nfor (var i = 0; i < 65; i++) {\n    a.push({\"name\":\"velocita_\"+i,\"value\": Math.random().toFixed(3)});\n}\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":42,"wires":[["3abafc63.d828d4"]]},{"id":"d754ce98.4575c","type":"debug","z":"4184ef00.67d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":324,"y":100,"wires":[]}]