flows_asus-server.json
[{"id":"cc532914.a496b8","type":"tab","label":"Core","disabled":false,"info":""},{"id":"268f1e8.14cd1e2","type":"tab","label":"Tags API","disabled":false,"info":""},{"id":"4a0e01ee.74339","type":"tab","label":"Dbg","disabled":false,"info":""},{"id":"be5a17b9.43c8b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"RIBONI","tz":""},{"id":"506f4c08.a16814","type":"http in","z":"268f1e8.14cd1e2","name":"NormalTags","url":"/api/getNormalTags","method":"get","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["a79d8db9.871ee"]]},{"id":"bf7d0db7.773b7","type":"http response","z":"268f1e8.14cd1e2","name":"Normal Tags Response","statusCode":"200","headers":{},"x":670,"y":80,"wires":[]},{"id":"df89b45c.ed3828","type":"json","z":"268f1e8.14cd1e2","name":"","property":"payload","action":"str","pretty":false,"x":480,"y":80,"wires":[["bf7d0db7.773b7"]]},{"id":"a79d8db9.871ee","type":"function","z":"268f1e8.14cd1e2","name":"gen obj","func":"msg.payload = global.get(\"tags.normali\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["df89b45c.ed3828"]]},{"id":"3afb8eb0.06ade2","type":"mysql","z":"4a0e01ee.74339","mydb":"be5a17b9.43c8b8","name":"","x":480.5,"y":44,"wires":[[]]},{"id":"fdea529a.fab24","type":"inject","z":"4a0e01ee.74339","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":79,"y":44,"wires":[["69b68301.ac719c"]]},{"id":"69b68301.ac719c","type":"function","z":"4a0e01ee.74339","name":"Query Composer","func":"query = ` REPLACE INTO RIBONI.DBG\nSET DBG_ID = (SELECT COALESCE(MAX(ID), 0) % 5 + 1 FROM DBG as d),\nINFO = 'I like turtles.',\nOBJECT = 'test insert',\nSTATE = 0,\nMESSAGE='messaggio dell errore',\nINNER_EXCEPTION='inner ex dell errore';`\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":45,"wires":[["3afb8eb0.06ade2"]]},{"id":"92976612.d24d08","type":"function","z":"cc532914.a496b8","name":"Tags Reader and Organizer","func":"t = global.get(\"tags\");\n\nif (t===undefined) {\n    t = {\"normali\":[],\"critiche\":[], \"utility\":[], \"allarmi\":[]};\n    \n    t.normali.push({\"name\":\"Velocita_1\",\"value\": 0});\n    t.normali.push({\"name\":\"Velocita_2\",\"value\": 0});\n    t.normali.push({\"name\":\"Velocita_3\",\"value\": 0});\n    \n    t.critiche.push({\"name\":\"Velocita_1\",\"value\": 0});\n    t.critiche.push({\"name\":\"Velocita_2\",\"value\": 0});\n    \n    t.utility.push({\"name\":\"Mod_Automatica\",\"value\": false});\n    t.utility.push({\"name\":\"StatoCentralina\",\"value\": true});\n    t.utility.push({\"name\":\"StatoOlio\",\"value\": true});\n    \n    t.allarmi.push({\"name\":\"Pressostato\",\"value\": false});\n    t.allarmi.push({\"name\":\"LivelloOlio\",\"value\": true});\n    t.allarmi.push({\"name\":\"Pressione Rullo\",\"value\": true});\n    \n    \n}\nelse{\n    t.normali[0].value = t.normali[0].value +1;\n    t.normali[1].value = t.normali[1].value +1;\n    t.normali[2].value = t.normali[2].value +1;\n    \n    t.critiche[0].value = t.normali[0].value +1;\n    t.critiche[1].value = t.normali[1].value +1;\n}\n\n\n\nglobal.set(\"tags\",t)\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":40,"wires":[[]]},{"id":"bf265f2c.eed5d","type":"inject","z":"cc532914.a496b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.3","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":40,"wires":[["92976612.d24d08"]]},{"id":"b7fd0b56.fc9888","type":"comment","z":"268f1e8.14cd1e2","name":"API GET TAGS | Normali","info":"","x":140,"y":40,"wires":[]},{"id":"f45d3c27.00f38","type":"comment","z":"268f1e8.14cd1e2","name":"API GET TAGS | Critical","info":"","x":140,"y":160,"wires":[]},{"id":"30264b7d.be5e54","type":"comment","z":"268f1e8.14cd1e2","name":"API GET TAGS | Utility","info":"","x":140,"y":280,"wires":[]},{"id":"af586cd6.979b","type":"comment","z":"268f1e8.14cd1e2","name":"API GET TAGS | Allarmi","info":"","x":150,"y":400,"wires":[]},{"id":"27383df8.4ca502","type":"http in","z":"268f1e8.14cd1e2","name":"Critical Tags","url":"/api/getCriticalTags","method":"get","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["3ca10f85.1b8f2"]]},{"id":"e39f036f.19eb7","type":"http response","z":"268f1e8.14cd1e2","name":"Critical Tags Response","statusCode":"200","headers":{},"x":670,"y":200,"wires":[]},{"id":"1d126bb4.4d5c14","type":"json","z":"268f1e8.14cd1e2","name":"","property":"payload","action":"str","pretty":false,"x":480,"y":200,"wires":[["e39f036f.19eb7"]]},{"id":"3ca10f85.1b8f2","type":"function","z":"268f1e8.14cd1e2","name":"gen obj","func":"msg.payload = global.get(\"tags.critiche\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["1d126bb4.4d5c14"]]},{"id":"31fdc221.6b6fbe","type":"http in","z":"268f1e8.14cd1e2","name":"Utility Tags","url":"/api/getUtilityTags","method":"get","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["dde2efff.d7e6d"]]},{"id":"1b51dc2c.fedc74","type":"http response","z":"268f1e8.14cd1e2","name":"Utility Tags Response","statusCode":"200","headers":{},"x":680,"y":320,"wires":[]},{"id":"3969c628.52312a","type":"json","z":"268f1e8.14cd1e2","name":"","property":"payload","action":"str","pretty":false,"x":500,"y":320,"wires":[["1b51dc2c.fedc74"]]},{"id":"dde2efff.d7e6d","type":"function","z":"268f1e8.14cd1e2","name":"gen obj","func":"msg.payload = global.get(\"tags.utility\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["3969c628.52312a"]]},{"id":"fab514f5.d34768","type":"http in","z":"268f1e8.14cd1e2","name":"Allarmi Tags","url":"/api/getAlarmsTags","method":"get","upload":false,"swaggerDoc":"","x":110,"y":450,"wires":[["6df30c44.68a0e4"]]},{"id":"d8640efe.e7b57","type":"http response","z":"268f1e8.14cd1e2","name":"Allarmi Tags Response","statusCode":"200","headers":{},"x":670,"y":450,"wires":[]},{"id":"947c6d6d.c65","type":"json","z":"268f1e8.14cd1e2","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":450,"wires":[["d8640efe.e7b57"]]},{"id":"6df30c44.68a0e4","type":"function","z":"268f1e8.14cd1e2","name":"gen obj","func":"msg.payload = global.get(\"tags.allarmi\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":450,"wires":[["947c6d6d.c65"]]}]