node.txt
[{"id":"cef9b916.e06d18","type":"tab","label":"OPCUA","disabled":false,"info":""},{"id":"2cf90360.b060bc","type":"tab","label":"Tags Reading Handler","disabled":false,"info":""},{"id":"276b2f69.e5c3f","type":"tab","label":"Tags Writing Hander","disabled":false,"info":""},{"id":"eecc3580.9eb0e8","type":"tab","label":"Lavorazioni API","disabled":false,"info":""},{"id":"31cff835.971cb8","type":"tab","label":"Produzione","disabled":false,"info":""},{"id":"b75a4507.2ec598","type":"tab","label":"Produzione Conclusa","disabled":false,"info":""},{"id":"76e6f17c.d5872","type":"tab","label":"Ultimi Tagli","disabled":false,"info":""},{"id":"ebc9f6f5.6fe5c8","type":"tab","label":"Allarmi","disabled":false,"info":""},{"id":"52ef0d11.c41354","type":"tab","label":"Dbg","disabled":false,"info":""},{"id":"78573cf7.39cf14","type":"tab","label":"Worker","disabled":false,"info":""},{"id":"cda1739a.1142d","type":"tab","label":"ws","disabled":true,"info":""},{"id":"fa7d688a.e8deb8","type":"subflow","name":"dbgLog","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"31635500.29c53c"}]}],"out":[{"x":550,"y":30,"wires":[{"id":"4ee96fa1.75138","port":0}]}]},{"id":"6823299a.7b9878","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.0.10:48010/","keepSessionAlive":true,"loginEnabled":true,"securityPolicy":"None","securityMode":"NONE","name":"exort","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"a53d29c5.93e1f8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"RIBONI_FORTE","tz":""},{"id":"b664d14d.71ebf","type":"websocket-listener","z":"","path":"/ws/test","wholemsg":"false"},{"id":"4881efb4.efb3b","type":"OPCUA-IIoT-Browser","z":"cef9b916.e06d18","connector":"6823299a.7b9878","nodeId":"ns=2;i=1001","name":"Lettura nodi disponibili","justValue":false,"sendNodesToRead":true,"sendNodesToListener":false,"sendNodesToBrowser":false,"singleBrowseResult":true,"recursiveBrowse":true,"recursiveDepth":"","delayPerMessage":"","showStatusActivities":false,"showErrors":false,"x":1030,"y":90,"wires":[["a32b9523.542ec8"]]},{"id":"6981d7b.f483b28","type":"function","z":"cef9b916.e06d18","name":"Sorting OPC Browsing result","func":"function stopFlowAndSendNewBrowserRequest(){\n    node.warn(\"browserResults non è definito, richiesta browse attivata, verrà eseguita il prossimo ciclo di lettura.\");\n    //se la richiesta non è attiva, la attivo, altrimenti attendo la risposta senza eseguire azioni\n    let requestAlreadyExists = flow.get(\"newBrowseRequest\") || false;\n    \n    if (!requestAlreadyExists)\n        flow.set(\"newBrowseRequest\", true);\n    \n    //comunque ritono sempre -1 per non continuare il flusso, date che non ho il browseresult\n    return -1;\n}\n\nfunction composeOPCReadingJSON(value, index){\n\n    msg.addressSpaceItems.push({\n        \"nodeId\":value.nodeId,\n    });\n}\n\n\n\n\n\n\n\n\n//Creazione oggetto opc\nmsg.nodetype = \"inject\";\nmsg.injectType = \"read\";\nmsg.addressSpaceItems = [];\n\n\nlet browserResults = flow.get(\"browserResults\") || stopFlowAndSendNewBrowserRequest();\n\n\nif ( browserResults === -1 ){\n  msg.payload = -1;\n  return msg;\n} \n\n\n\n\nbrowserResults.forEach(composeOPCReadingJSON);\n\nreturn msg;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":360,"y":135,"wires":[["ea2ec98a.37a5b8","ffa36a33.f5ca88"]]},{"id":"9579e952.27a0e8","type":"OPCUA-IIoT-Read","z":"cef9b916.e06d18","attributeId":0,"maxAge":1,"depth":1,"connector":"6823299a.7b9878","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":"","x":755,"y":195,"wires":[["53dff9fb.de6068"]]},{"id":"53dff9fb.de6068","type":"OPCUA-IIoT-Response","z":"cef9b916.e06d18","name":"","compressStructure":false,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":925,"y":195,"wires":[["d5a67e9.a59658"]]},{"id":"d5a67e9.a59658","type":"function","z":"cef9b916.e06d18","name":"global.set(\"tags\",opc);","func":"let dbg = false;\n\nvar opc = [];\nif (dbg) node.warn(msg.payload);\n\nfunction getOpcInfo(value, index){\n    opc.push({\n        nodeId: value.nodeId, \n        name: value.browseName.name, \n        value : value.value,\n        type : value.dataType, \n        statusCode : value.statusCode.name});\n        \n}\n\nmsg.payload.forEach(getOpcInfo);\n\nglobal.set(\"tags\",opc);\n//if (dbg) node.warn(opc);\n\nreturn msg;","outputs":1,"noerr":0,"x":1165,"y":195,"wires":[["b05c90a2.c3a0b"]]},{"id":"a32b9523.542ec8","type":"function","z":"cef9b916.e06d18","name":"flow.set( \"browserResults\", ... )","func":"let dbg = true;\nnode.warn(\"Richiesta browsing OPCUA Server...\");\n\nflow.set(\"browserResults\", msg.payload.browserResults);\nif (dbg) node.warn(msg.payload.browserResults);\n\n//resetto la richiesta \nflow.set(\"newBrowseRequest\", false);\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":90,"wires":[[]]},{"id":"c3672461.327e88","type":"inject","z":"cef9b916.e06d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":135,"wires":[["6981d7b.f483b28"]]},{"id":"d01f60b6.6ee93","type":"inject","z":"cef9b916.e06d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":315,"wires":[["e9091fc7.6d913"]]},{"id":"2b7be629.78cfea","type":"function","z":"cef9b916.e06d18","name":"if (newBrowseRequest) ...","func":"let dbg = true;\nlet newBrowseRequest = flow.get(\"newBrowseRequest\") || false;\n\nif (newBrowseRequest){\n    if (dbg) node.warn(\"richiesta attiva\");\n    return msg;\n}\nelse{\n    if (dbg) node.warn(\"nessuna richiesta per nuovo browsing.\");\n    return;\n}","outputs":1,"noerr":0,"x":785,"y":90,"wires":[["4881efb4.efb3b"]]},{"id":"184d44bf.18f2cb","type":"comment","z":"cef9b916.e06d18","name":"lettura browseReuqest da OPCUA SERVER se non è prensete","info":"lettura delle tags ed informazioni \ndisponibili dal server, se è presente una richiesta\n","x":770,"y":45,"wires":[]},{"id":"6a1971e8.3cb33","type":"comment","z":"cef9b916.e06d18","name":"Richiesta lettura variabili presenti","info":"\n","x":160,"y":90,"wires":[]},{"id":"d5542846.0dc608","type":"comment","z":"cef9b916.e06d18","name":"cancellare il contenuto del browserresults","info":"","x":190,"y":270,"wires":[]},{"id":"aaca7685.93fdc8","type":"http in","z":"2cf90360.b060bc","name":"GET /api/tags/ricettaCorrente","url":"/api/tags/ricettaCorrente","method":"get","upload":false,"swaggerDoc":"","x":165,"y":135,"wires":[["7176ae92.d6753"]]},{"id":"bf22356f.ae1dd8","type":"http response","z":"2cf90360.b060bc","name":"","statusCode":"200","headers":{},"x":795,"y":90,"wires":[]},{"id":"7176ae92.d6753","type":"function","z":"2cf90360.b060bc","name":"ricerca tag con radice 'ricetta'","func":"let dbg = false;\nif (dbg) node.warn(\"dbg on\");\n\nlet requestedTags = global.get(\"tags\").filter(obj => {\n  if (dbg) node.warn(obj);  \n  return obj.name.startsWith(\"ricetta\");\n})\n\nnode.warn(requestedTags);\n\nmsg.payload = requestedTags;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":90,"wires":[["bf22356f.ae1dd8"]]},{"id":"17aba425.1774dc","type":"inject","z":"2cf90360.b060bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":90,"wires":[["7176ae92.d6753"]]},{"id":"398c3d91.1a4a02","type":"http in","z":"cef9b916.e06d18","name":"DELETE /api/OPCUA/actualBrowserResults","url":"/api/OPCUA/actualBrowserResults","method":"delete","upload":false,"swaggerDoc":"","x":200,"y":360,"wires":[["e9091fc7.6d913"]]},{"id":"e9091fc7.6d913","type":"function","z":"cef9b916.e06d18","name":"delete opcua browser results","func":"let dbg = true;\n\nflow.set(\"browserResults\", undefined);\nmsg.payload = { status : 1, browserResults : \"undefined\"};\nnode.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":585,"y":330,"wires":[["482e33b7.86025c"]]},{"id":"482e33b7.86025c","type":"http response","z":"cef9b916.e06d18","name":"","statusCode":"200","headers":{},"x":915,"y":330,"wires":[]},{"id":"dabe7f4e.57e14","type":"inject","z":"cef9b916.e06d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":510,"wires":[["81f686f4.f6fc48"]]},{"id":"e7fffeac.ea12e","type":"comment","z":"cef9b916.e06d18","name":"lettura del valore attuale di browser results","info":"","x":190,"y":465,"wires":[]},{"id":"58736186.51061","type":"http in","z":"cef9b916.e06d18","name":"GET/api/OPCUA/actualBrowserResults","url":"/api/OPCUA/actualBrowserResults","method":"get","upload":false,"swaggerDoc":"","x":180,"y":555,"wires":[["81f686f4.f6fc48"]]},{"id":"37ecd072.a6531","type":"http response","z":"cef9b916.e06d18","name":"","statusCode":"200","headers":{},"x":915,"y":525,"wires":[]},{"id":"81f686f4.f6fc48","type":"function","z":"cef9b916.e06d18","name":"lettura valore attuale browser results","func":"let dbg = true;\n\nlet browseResults = flow.get(\"browserResults\");\nmsg.payload = { browseResults: browseResults || \"undefined\"};\nnode.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":525,"wires":[["37ecd072.a6531"]]},{"id":"ea2ec98a.37a5b8","type":"switch","z":"cef9b916.e06d18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":195,"wires":[["9579e952.27a0e8"]]},{"id":"ffa36a33.f5ca88","type":"switch","z":"cef9b916.e06d18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":90,"wires":[["2b7be629.78cfea"]]},{"id":"97910f6b.d2924","type":"comment","z":"cef9b916.e06d18","name":"browseReuqest esistente, si procede alla lettura delle tags","info":"lettura delle tags ed informazioni \ndisponibili dal server, se è presente una richiesta\n","x":750,"y":150,"wires":[]},{"id":"fae4eef2.19927","type":"inject","z":"2cf90360.b060bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":285,"wires":[["a9c303e.55267"]]},{"id":"2d2ca038.7c19c","type":"comment","z":"2cf90360.b060bc","name":"lettura del valore delle tags presenti ( tutte )","info":"","x":215,"y":240,"wires":[]},{"id":"5e562313.ddb64c","type":"http in","z":"2cf90360.b060bc","name":"GET/api/tags/readAllTags","url":"/api/tags/readAllTags","method":"get","upload":false,"swaggerDoc":"","x":155,"y":330,"wires":[["a9c303e.55267"]]},{"id":"4a65f872.f41ff8","type":"http response","z":"2cf90360.b060bc","name":"","statusCode":"200","headers":{},"x":795,"y":300,"wires":[]},{"id":"a9c303e.55267","type":"function","z":"2cf90360.b060bc","name":"restituisco tutte le tags presenti","func":"let dbg = true;\n\nlet tags = global.get(\"tags\");\nmsg.payload = tags;\nnode.warn(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["4a65f872.f41ff8"]]},{"id":"a85881d1.9a7b4","type":"inject","z":"2cf90360.b060bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":495,"wires":[[]]},{"id":"392f1138.9eb40e","type":"comment","z":"2cf90360.b060bc","name":"lettura gruppo tags in base a radice del nome | param = tagname","info":"","x":285,"y":450,"wires":[]},{"id":"f42676ca.af36b8","type":"http in","z":"2cf90360.b060bc","name":"GET /api/tags/readTagsGroup","url":"/api/tags/readTagsGroup","method":"get","upload":false,"swaggerDoc":"","x":165,"y":540,"wires":[["cc5e4854.5abf38","ff3ef424.d82cd8"]]},{"id":"197341a9.db0e8e","type":"http response","z":"2cf90360.b060bc","name":"","statusCode":"200","headers":{},"x":795,"y":510,"wires":[]},{"id":"ff3ef424.d82cd8","type":"function","z":"2cf90360.b060bc","name":"lettura valore attuale browser results","func":"let dbg = false;\nif (dbg) node.warn(\"dbg on\");\n\nlet tags = global.get(\"tags\");\nlet requestedGropu = msg.payload.tagname || \"\";\n\nif (dbg) node.warn(requestedGropu);\n\nlet requestedTags = tags.filter(obj => {\n  if (dbg) node.warn(obj);  \n  return obj.name.startsWith(requestedGropu);\n})\n\n\nif (dbg) node.warn(requestedTags);\n\nmsg.payload = requestedTags;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":510,"wires":[["197341a9.db0e8e"]]},{"id":"cc5e4854.5abf38","type":"debug","z":"2cf90360.b060bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":555,"wires":[]},{"id":"acf1ab3f.752be8","type":"inject","z":"2cf90360.b060bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":705,"wires":[[]]},{"id":"a476238a.0f6b1","type":"comment","z":"2cf90360.b060bc","name":"lettura di una singola tag | param = tagname","info":"","x":215,"y":660,"wires":[]},{"id":"fe00c1ed.1099a","type":"http in","z":"2cf90360.b060bc","name":"GET /api/tags/readTag","url":"/api/tags/readTag","method":"get","upload":false,"swaggerDoc":"","x":145,"y":750,"wires":[["8f3d461f.8a1798","a8f65efd.b9175"]]},{"id":"2847f2e5.3a330e","type":"http response","z":"2cf90360.b060bc","name":"","statusCode":"200","headers":{},"x":795,"y":720,"wires":[]},{"id":"a8f65efd.b9175","type":"function","z":"2cf90360.b060bc","name":"lettura valore attuale browser results","func":"let dbg = false;\nif (dbg) node.warn(\"dbg on\");\n\nlet tags = global.get(\"tags\");\nlet tagName = msg.payload.tagName || \"\";\n\nnode.warn(tagName);\n\nlet requestedTag = tags.find(obj => {\n  if (dbg) node.warn(obj);  \n  return obj.name === tagName;\n})\n\nif (requestedTag.length === 0 ){\n    msg.payload = {value: \"tag not found.\"};\n    return msg;\n}\n\nnode.warn(requestedTag);\nmsg.payload = requestedTag;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":720,"wires":[["2847f2e5.3a330e"]]},{"id":"8f3d461f.8a1798","type":"debug","z":"2cf90360.b060bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":765,"wires":[]},{"id":"e4a860c0.807a8","type":"comment","z":"2cf90360.b060bc","name":"lettura della ricetta caricata in macchina","info":"","x":205,"y":45,"wires":[]},{"id":"ba5a937f.b1e12","type":"OPCUA-IIoT-Response","z":"276b2f69.e5c3f","name":"","showStatusActivities":true,"showErrors":true,"x":790,"y":180,"wires":[["1b10b13e.65987f"]]},{"id":"a4302877.4349d8","type":"OPCUA-IIoT-Write","z":"276b2f69.e5c3f","connector":"6823299a.7b9878","name":"","justValue":false,"showStatusActivities":true,"showErrors":true,"x":650,"y":180,"wires":[["ba5a937f.b1e12"]]},{"id":"479694b4.b0aaac","type":"function","z":"276b2f69.e5c3f","name":"Composing Opc Json","func":"//Creazione oggetto opc\nnode.warn(msg);\nlet nodetype = \"inject\";\nlet injectType = \"write\";\nlet addressSpaceItems = [];\nlet payload = [];\nlet userRequest = msg.richiestaUtente;\nmsg = {};\n\nuserRequest.forEach(function(obj){\n    addressSpaceItems.push({\n        \"nodeId\": obj.nodeId,\n        \"datatypeName\":obj.typeName\n    });    \n});\n\n\nuserRequest.forEach(function(obj){\n    payload.push(obj.value);    \n});\n\nmsg.nodetype = nodetype;\nmsg.injectType = injectType;\nmsg.addressSpaceItems = addressSpaceItems;\nmsg.payload = payload;\nnode.warn(msg);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["a4302877.4349d8"]]},{"id":"81103d8.678c9c","type":"inject","z":"276b2f69.e5c3f","name":"","topic":"","payload":"[{\"name\": \"alarms_a1\", \"value\" : false},{\"name\": \"alarms_a2\", \"value\" : false},{\"name\": \"alarms_a3\", \"value\" : false}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":75,"wires":[["b24617fb.d10898"]]},{"id":"b24617fb.d10898","type":"function","z":"276b2f69.e5c3f","name":"Getting requested tags","func":"function getTags(requestedTags){\n    \n    let tags = global.get(\"tags\") || [];\n    let resultTags = [];\n    \n    \n    requestedTags.forEach(function(req){\n        \n        resultTags.push(\n            tags.find(obj=> {\n                \n                return obj.name === req.name;\n            })\n        );\n    });\n\n    return resultTags;\n\n}\n\n\n//let req = [{name: \"ricetta_p10\", value : 777}, {name: \"ricetta_p11\", value : 222}, {name: \"alarms_a1\", value : true}];\n//let req = [{\"name\": \"ricetta_p10\", \"value\" : 666}];\nreq = msg.payload;\n\n\nnode.warn(req);\nlet requestedTags = getTags(req);\n\nfor(let i=0; i<req.length; i++){\n    req[i].nodeId = requestedTags[i].nodeId;\n}\n\nmsg.richiestaUtente = req;\nmsg.informazioniTags = requestedTags;\n\n//storing info for http request, per non rompere i nodi opcua\nflow.set(\"res\", msg.res);\nflow.set(\"req\", msg.req);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":90,"wires":[["ec2668ac.f61c98"]]},{"id":"ec2668ac.f61c98","type":"function","z":"276b2f69.e5c3f","name":"Richiesta formato corretto dati","func":"function composeOPCReadingJSON(value, index){\n\n    msg.addressSpaceItems.push({\n        \"nodeId\":value.type,\n    });\n}\n\n\n//Creazione oggetto opc\nmsg.nodetype = \"inject\";\nmsg.injectType = \"read\";\nmsg.addressSpaceItems = [];\n\n\nlet requestedTags = msg.informazioniTags;\nnode.warn(requestedTags);\nrequestedTags.forEach(composeOPCReadingJSON);\n\n\nmsg = { nodetype: msg.nodetype, \n        injectType: msg.injectType, \n        addressSpaceItems: msg.addressSpaceItems,\n        topic: \"\",\n        payload: 1,\n        richiestaUtente: msg.richiestaUtente,\n        informazioniTags: msg.informazioniTags\n};\nreturn msg;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":730,"y":90,"wires":[["1e608c80.e35923"]]},{"id":"1e608c80.e35923","type":"OPCUA-IIoT-Read","z":"276b2f69.e5c3f","attributeId":0,"maxAge":1,"depth":1,"connector":"6823299a.7b9878","name":"","justValue":true,"showStatusActivities":true,"showErrors":true,"parseStrings":true,"historyDays":"","x":950,"y":90,"wires":[["154af3cf.03928c"]]},{"id":"154af3cf.03928c","type":"OPCUA-IIoT-Response","z":"276b2f69.e5c3f","name":"","compressStructure":false,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1120,"y":90,"wires":[["11ba6110.52490f"]]},{"id":"9b102120.d9a7d","type":"function","z":"276b2f69.e5c3f","name":"typeName Insert","func":"\nlet count = msg.informazioniTags.length;\n\n\nfor(let i=0; i<count; i++){\n    msg.richiestaUtente[i].typeName = msg.payload[i].displayName.text;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["479694b4.b0aaac"]]},{"id":"4ee95d82.18a764","type":"http in","z":"276b2f69.e5c3f","name":"","url":"/api/tags/write","method":"post","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["b24617fb.d10898"]]},{"id":"23f73dec.f86002","type":"http response","z":"276b2f69.e5c3f","name":"","statusCode":"200","headers":{},"x":1320,"y":180,"wires":[]},{"id":"1b10b13e.65987f","type":"function","z":"276b2f69.e5c3f","name":"Reinsert HTTP info","func":"msg.res = flow.get(\"res\");\nmsg.req = flow.get(\"req\");\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":180,"wires":[["85924f28.2ffbb","56697095.612d7"]]},{"id":"d2983278.745e7","type":"comment","z":"276b2f69.e5c3f","name":"Richiesta scrittura array di tags","info":"","x":175,"y":30,"wires":[]},{"id":"29264544.93173a","type":"link in","z":"276b2f69.e5c3f","name":"","links":["11ba6110.52490f"],"x":60,"y":180,"wires":[["9b102120.d9a7d"]]},{"id":"11ba6110.52490f","type":"link out","z":"276b2f69.e5c3f","name":"Scrittura Array Tags","links":["29264544.93173a"],"x":1260,"y":90,"wires":[]},{"id":"5f831c59.2734d4","type":"http in","z":"eecc3580.9eb0e8","name":"http request","url":"/api/lavorazioni","method":"get","upload":false,"swaggerDoc":"","x":100,"y":75,"wires":[["76ef5f35.1dec6"]]},{"id":"e414787.893f688","type":"http response","z":"eecc3580.9eb0e8","name":"http response","statusCode":"200","headers":{},"x":905,"y":75,"wires":[]},{"id":"f03d8f44.0fbb6","type":"json","z":"eecc3580.9eb0e8","name":"","property":"payload","action":"str","pretty":false,"x":735,"y":75,"wires":[["e414787.893f688","a5cc2d7d.f9572"]]},{"id":"1c98cbc6.ac5f34","type":"comment","z":"eecc3580.9eb0e8","name":"API GET LAVORAZIONI | restituisce l'elenco completo delle lavorazioni disponibili","info":"","x":320,"y":30,"wires":[]},{"id":"76ef5f35.1dec6","type":"function","z":"eecc3580.9eb0e8","name":"Query Composer","func":"query = `select * from LAVORAZIONI`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":75,"wires":[["66b2ee1a.23eca"]]},{"id":"66b2ee1a.23eca","type":"mysql","z":"eecc3580.9eb0e8","mydb":"a53d29c5.93e1f8","name":"","x":540,"y":75,"wires":[["f03d8f44.0fbb6"]]},{"id":"25ecc06c.3d062","type":"http in","z":"eecc3580.9eb0e8","name":"http request","url":"/api/lavorazioni","method":"delete","upload":false,"swaggerDoc":"","x":100,"y":615,"wires":[["ec212391.2f37e","ea222e16.1db1c"]]},{"id":"62ec1444.014b0c","type":"http response","z":"eecc3580.9eb0e8","name":"http response","statusCode":"200","headers":{},"x":905,"y":615,"wires":[]},{"id":"9444268c.ed7be8","type":"comment","z":"eecc3580.9eb0e8","name":"API DELETE LAVORAZIONI | cancella dal database la lavorazione richiesta dal parametro id","info":"","x":350,"y":575,"wires":[]},{"id":"ec212391.2f37e","type":"function","z":"eecc3580.9eb0e8","name":"Query Composer","func":"query = `DELETE FROM LAVORAZIONI WHERE LAVORAZIONE_ID = ${msg.req.query.LAVORAZIONE_ID}`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":615,"wires":[["d0094eb.be5b5b"]]},{"id":"d0094eb.be5b5b","type":"mysql","z":"eecc3580.9eb0e8","mydb":"a53d29c5.93e1f8","name":"","x":530,"y":615,"wires":[["55785f54.fb09b"]]},{"id":"ea222e16.1db1c","type":"debug","z":"eecc3580.9eb0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":655,"wires":[]},{"id":"499f5d5e.3188b4","type":"http in","z":"eecc3580.9eb0e8","name":"http request","url":"/api/lavorazioni","method":"put","upload":false,"swaggerDoc":"","x":100,"y":225,"wires":[["adf83861.820f68","ae8c44de.7ed498"]]},{"id":"3ef5953b.5279da","type":"http response","z":"eecc3580.9eb0e8","name":"http response","statusCode":"200","headers":{},"x":905,"y":225,"wires":[]},{"id":"75b7c1ff.68d04","type":"comment","z":"eecc3580.9eb0e8","name":"API PUT LAVORAZIONI | crea una nuova lavorazione da json letto nel body della richiesta","info":"","x":340,"y":185,"wires":[]},{"id":"ae8c44de.7ed498","type":"function","z":"eecc3580.9eb0e8","name":"Query Composer","func":"obj= msg.req.body;\n\nquery = `insert into LAVORAZIONI \n(NAME,LUNGHEZZA_TAGLIO,VELOCITA_LAMA_SP) values\n('${obj.NAME}',${obj.LUNGHEZZA_TAGLIO},${obj.VELOCITA_LAMA_SP})`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":225,"wires":[["33ec31d2.7bc64e"]]},{"id":"33ec31d2.7bc64e","type":"mysql","z":"eecc3580.9eb0e8","mydb":"a53d29c5.93e1f8","name":"","x":540,"y":225,"wires":[["7b6474e0.bd1a5c"]]},{"id":"adf83861.820f68","type":"debug","z":"eecc3580.9eb0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","x":320,"y":285,"wires":[]},{"id":"2217ff78.e55bd","type":"http in","z":"eecc3580.9eb0e8","name":"http request","url":"/api/lavorazioni","method":"post","upload":false,"swaggerDoc":"","x":100,"y":420,"wires":[["61c90b21.dc1054","a0a30179.49dea"]]},{"id":"d8c17cae.85371","type":"http response","z":"eecc3580.9eb0e8","name":"http response","statusCode":"200","headers":{},"x":905,"y":420,"wires":[]},{"id":"db28f988.5350e8","type":"comment","z":"eecc3580.9eb0e8","name":"API POST LAVORAZIONI | aggiorna la lavorazione nel database in base al json letto nel body","info":"","x":360,"y":380,"wires":[]},{"id":"a0a30179.49dea","type":"function","z":"eecc3580.9eb0e8","name":"Query Composer","func":"obj= msg.req.body;\n\nquery = `update LAVORAZIONI SET \nNAME = '${obj.NAME}',\nLUNGHEZZA_TAGLIO = ${obj.LUNGHEZZA_TAGLIO},\nVELOCITA_LAMA_SP = ${obj.VELOCITA_LAMA_SP}\nWHERE LAVORAZIONE_ID = ${obj.LAVORAZIONE_ID}`;\n\nmsg.topic = query;\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["51f49e55.acc1f"]]},{"id":"51f49e55.acc1f","type":"mysql","z":"eecc3580.9eb0e8","mydb":"a53d29c5.93e1f8","name":"","x":530,"y":420,"wires":[["e0cb6529.f95768"]]},{"id":"61c90b21.dc1054","type":"debug","z":"eecc3580.9eb0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","x":340,"y":460,"wires":[]},{"id":"a8cc8732.3947f8","type":"http in","z":"31cff835.971cb8","name":"http request","url":"/api/produzione","method":"get","upload":false,"swaggerDoc":"","x":100,"y":75,"wires":[["95c75758.0e3ae8"]]},{"id":"9d18f0a8.9d173","type":"http response","z":"31cff835.971cb8","name":"http response","statusCode":"200","headers":{},"x":1010,"y":75,"wires":[]},{"id":"175b3d47.046ca3","type":"comment","z":"31cff835.971cb8","name":"API GET PRODUZIONE | restituisce l'elenco completo della produzione","info":"","x":290,"y":30,"wires":[]},{"id":"95c75758.0e3ae8","type":"function","z":"31cff835.971cb8","name":"Query Composer","func":"query = `select p.PRODUZIONE_ID, p.CODICE_PRODUZIONE, l.NAME as 'NOME_LAVORAZIONE', l.LAVORAZIONE_ID, p.TARGET, p.PRODOTTI, p.PRIORITA, p.DATA_INIZIO\nfrom PRODUZIONE p\njoin LAVORAZIONI l ON l.LAVORAZIONE_ID = p.LAVORAZIONE_ID order by p.PRIORITA`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":75,"wires":[["7911bdf7.a21b54"]]},{"id":"7911bdf7.a21b54","type":"mysql","z":"31cff835.971cb8","mydb":"a53d29c5.93e1f8","name":"","x":585,"y":75,"wires":[["294e743a.0ae45c"]]},{"id":"3ac389ac.ef6766","type":"http in","z":"31cff835.971cb8","name":"http request","url":"/api/produzione","method":"put","upload":false,"swaggerDoc":"","x":100,"y":270,"wires":[["a991e7be.498bb8","67e96a64.e7e774"]]},{"id":"6c1d8860.331e38","type":"http response","z":"31cff835.971cb8","name":"http response","statusCode":"200","headers":{},"x":950,"y":285,"wires":[]},{"id":"5e3fa037.8db0d","type":"comment","z":"31cff835.971cb8","name":"API PUT PRODUZIONE | crea una nuova produzione da json letto nel body della richiesta","info":"","x":340,"y":230,"wires":[]},{"id":"a991e7be.498bb8","type":"function","z":"31cff835.971cb8","name":"Query Composer","func":"obj= msg.req.body;\n\nquery = `REPLACE INTO PRODUZIONE\nSET LOG_ID = (SELECT COALESCE(MAX(PRODUZIONE_ID), 0) % 999 + 1 FROM PRODUZIONE as p),\nCODICE_PRODUZIONE = '${obj.CODICE_PRODUZIONE}',\nLAVORAZIONE_ID = ${obj.LAVORAZIONE_ID},\nTARGET = ${obj.TARGET},\nPRODOTTI= 0,\nPRIORITA = ${obj.PRIORITA};`;\n\n\nnode.warn(query);\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":270,"wires":[["c42ebf8.cd6c14"]]},{"id":"c42ebf8.cd6c14","type":"mysql","z":"31cff835.971cb8","mydb":"a53d29c5.93e1f8","name":"","x":530,"y":270,"wires":[["8dca4272.533f8"]]},{"id":"23b73bba.5b0374","type":"http in","z":"31cff835.971cb8","name":"http request","url":"/api/produzione","method":"delete","upload":false,"swaggerDoc":"","x":100,"y":720,"wires":[["aefaec69.7df03"]]},{"id":"3f286fe0.6c75","type":"http response","z":"31cff835.971cb8","name":"http response","statusCode":"200","headers":{},"x":1295,"y":720,"wires":[]},{"id":"4d42994b.3c5bc8","type":"comment","z":"31cff835.971cb8","name":"API DELETE PRODUZIONE | chiude la produzione selezionata","info":"","x":260,"y":680,"wires":[]},{"id":"aefaec69.7df03","type":"function","z":"31cff835.971cb8","name":"Query Composer","func":"node.warn(msg.req.query);\n\nquery = `\nSET @PRODUZIONE_ID = ${msg.req.query.produzioneId};\nSET @LAVORAZIONE_ID = ${msg.req.query.lavorazioneId};\n\nINSERT INTO PRODUZIONI_CONCLUSE VALUES (\n    @PRODUZIONE_ID,\n    (SELECT \\`NAME\\` FROM LAVORAZIONI WHERE LAVORAZIONE_ID = @LAVORAZIONE_ID),\n    (SELECT CODICE_PRODUZIONE FROM PRODUZIONE WHERE PRODUZIONE_ID = @PRODUZIONE_ID),\n    (SELECT TARGET  FROM PRODUZIONE WHERE PRODUZIONE_ID = @PRODUZIONE_ID),\n    (SELECT PRODOTTI FROM PRODUZIONE WHERE PRODUZIONE_ID = @PRODUZIONE_ID),\n    (SELECT DATA_INIZIO FROM PRODUZIONE WHERE PRODUZIONE_ID = @PRODUZIONE_ID),\n    CURRENT_TIMESTAMP\n);`;\n\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":720,"wires":[["9eaf56fa.8ff4f8"]]},{"id":"9eaf56fa.8ff4f8","type":"mysql","z":"31cff835.971cb8","mydb":"a53d29c5.93e1f8","name":"","x":530,"y":720,"wires":[["8d9859ff.764aa8","8548445b.b75d88"]]},{"id":"4ee96fa1.75138","type":"mysql","z":"fa7d688a.e8deb8","mydb":"a53d29c5.93e1f8","name":"","x":410,"y":30,"wires":[[]]},{"id":"31635500.29c53c","type":"function","z":"fa7d688a.e8deb8","name":"Query Composer","func":"\nquery = ` REPLACE INTO RIBONI.DBG\nSET DBG_ID = (SELECT COALESCE(MAX(ID), 0) % 5 + 1 FROM DBG as d),\nINFO = '${msg.dbgmsg.info}',\nOBJECT = '${msg.dbgmsg.object}',\nSTATE = ${msg.dbgmsg.state},\nMESSAGE='${msg.dbgmsg.message}',\nINNER_EXCEPTION='${msg.dbgmsg.innerEx}';`\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":30,"wires":[["4ee96fa1.75138"]]},{"id":"b9a0a18c.9ba99","type":"subflow:fa7d688a.e8deb8","z":"52ef0d11.c41354","name":"","x":490,"y":40,"wires":[["5d5611b.d6e9ff"]]},{"id":"311bdb74.7fb8b4","type":"inject","z":"52ef0d11.c41354","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["36163a06.7b1dd6"]]},{"id":"5d5611b.d6e9ff","type":"debug","z":"52ef0d11.c41354","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":40,"wires":[]},{"id":"36163a06.7b1dd6","type":"function","z":"52ef0d11.c41354","name":"Log message Demo","func":"msg.dbgmsg = {\n    \"info\":\"test\",\n    \"object\":\"dbg node\",\n    \"state\":\"0\",\n    \"message\":\"errore insert\",\n    \"innerEx\":\"...\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["b9a0a18c.9ba99"]]},{"id":"5c1f3ce0.5cdd14","type":"http in","z":"76e6f17c.d5872","name":"http request","url":"/api/tagli","method":"get","upload":false,"swaggerDoc":"","x":100,"y":75,"wires":[["851cc775.ca9408"]]},{"id":"62c1c212.2f21ec","type":"http response","z":"76e6f17c.d5872","name":"http response","statusCode":"200","headers":{},"x":950,"y":75,"wires":[]},{"id":"47eb876.3c34d78","type":"json","z":"76e6f17c.d5872","name":"","property":"payload","action":"str","pretty":false,"x":750,"y":75,"wires":[["62c1c212.2f21ec","39c79395.39268c"]]},{"id":"3bc5b8bb.ba1d48","type":"comment","z":"76e6f17c.d5872","name":"API GET TAGLI | restituisce l'elenco completo degli ultimi tagli effettuati","info":"","x":280,"y":30,"wires":[]},{"id":"851cc775.ca9408","type":"function","z":"76e6f17c.d5872","name":"Query Composer","func":"\nquery = `select * from TAGLI_EFFETTUATI order by TAGLIO_ID desc limit ${msg.req.query.rows}`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":75,"wires":[["3192f11f.66103e"]]},{"id":"3192f11f.66103e","type":"mysql","z":"76e6f17c.d5872","mydb":"a53d29c5.93e1f8","name":"","x":580,"y":75,"wires":[["47eb876.3c34d78"]]},{"id":"5ecaf3d5.2a74ec","type":"comment","z":"78573cf7.39cf14","name":"Aggiunta nuovo pezzo tagliato","info":"","x":150,"y":40,"wires":[]},{"id":"e864790e.903478","type":"inject","z":"78573cf7.39cf14","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":90,"wires":[["c863e0fd.d1feb"]]},{"id":"c863e0fd.d1feb","type":"function","z":"78573cf7.39cf14","name":"Production checker","func":"let tags = global.get(\"tags\");\n\nlet counterProduzione = tags.find(obj => {\n  return obj.name === \"monitor_lavorazione#tagli_effettuati\";\n}).value\n\nlet lastCounter = global.get(\"counterProduzione\") || 0;\n\n\nif (lastCounter !== counterProduzione && counterProduzione > 0){\n    global.set(\"counterProduzione\", counterProduzione);\n    msg.needInsert = true;\n}\n// serve per resetare il contatore ma non scrivo nessun log\nelse if (lastCounter !== counterProduzione && counterProduzione === 0){\n    global.set(\"counterProduzione\", counterProduzione);\n    msg.needInsert = false;\n}\nelse\n    msg.needInsert = false;\n\n    \nreturn msg;","outputs":1,"noerr":0,"x":300,"y":90,"wires":[["d624b9bd.9326c8","13f73868.cd6c08","14830f11.c74111"]]},{"id":"13f73868.cd6c08","type":"switch","z":"78573cf7.39cf14","name":"if needInsert is true","property":"needInsert","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":75,"wires":[["a6ce37bc.b70af8"]]},{"id":"1beac781.e0fad8","type":"function","z":"78573cf7.39cf14","name":"Query Composer","func":"let tags = global.get(\"tags\");\n\nlet maxRowNumber = 6307200; //6307200 questo valore garantisce una tabella di max 900 MB, ed una storicizzazione di 1 anno, prendendo\n//come valori 1/5 taglio al secondo e salvati i valori della tabella di prova \n\nlet nomeFuoriProduzione = \"Fuori Produzione\"\n\ncodiceProduzione = msg.codiceProduzione || nomeFuoriProduzione;\n\n\nnumeroProgramma = tags.find(obj => {\n  return obj.name === \"monitor_lavorazione#programma_corrente\";\n}).value\n\n\n\nnumeroProssimoProgramma = tags.find(obj => {\n  return obj.name === \"monitor_lavorazione#prossimo_programma\";\n}).value\n\n\n\nlunghezzaPezzo = tags.find(obj => {\n  return obj.name === \"monitor_lavorazione#lunghezza_pezzo\";\n}).value\n\ntagliRichiesti = tags.find(obj => {\n  return obj.name === \"monitor_lavorazione#tagli_richiesti\";\n}).value\n\ntagliEffettuati = global.get(\"counterProduzione\");\n\nvelocitaLamaSp = tags.find(obj => {\n  return obj.name === \"monitor_home#velocita_lama_sp\";\n}).value\n\nvelocitaLamaPv = tags.find(obj => {\n  return obj.name === \"monitor_home#velocita_lama_pv\";\n}).value\n\navanzamentoTaglio = tags.find(obj => {\n  return obj.name === \"monitor_home#avanzamento_taglio\";\n}).value\n\nposizioneCarro = tags.find(obj => {\n  return obj.name === \"monitor_home#posizione_carro\";\n}).value\n\nripetizioni = tags.find(obj => {\n  return obj.name === \"monitor_lavorazione#ripetizioni\";\n}).value\n\n\n\n\nquery = `REPLACE INTO TAGLI_EFFETTUATI SET \nID_LOG = (SELECT COALESCE(MAX(TAGLIO_ID), 0) % ${maxRowNumber} + 1 FROM TAGLI_EFFETTUATI as d),\nCODICE_PRODUZIONE = '${codiceProduzione}',\nNUMERO_PROGRAMMA = ${numeroProgramma},\nNUMERO_PROSSIMO_PROGRAMMA= ${numeroProssimoProgramma},\nLUNGHEZZA_PEZZO= ${lunghezzaPezzo},\nTAGLI_RICHIESTI= ${tagliRichiesti},\nTAGLI_EFFETTUATI= ${tagliEffettuati},\nVELOCITA_LAMA_SP= ${velocitaLamaSp},\nVELOCITA_LAMA_PV= ${velocitaLamaPv},\nAVANZAMENTO_TAGLIO= ${avanzamentoTaglio},\nPOSIZIONE_CARRO= ${posizioneCarro},\nRIPETIZIONI = ${ripetizioni}`;\n\nnode.warn(query);\n\n//incremento la produzione anche nella tabella del db\nif (codiceProduzione !== nomeFuoriProduzione){\n    node.warn(\"sono in produzione\" + msg.codiceProduzione);\n    msg.richiestaIncremento = {\n        \"richiesta\": true,\n        \"tagliEffettuati\":tagliEffettuati\n    }    \n}\n\nmsg.topic = query;\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":285,"wires":[["462a170d.f14828","40ce5e14.cff8a"]]},{"id":"462a170d.f14828","type":"mysql","z":"78573cf7.39cf14","mydb":"a53d29c5.93e1f8","name":"","x":795,"y":315,"wires":[[]]},{"id":"d624b9bd.9326c8","type":"switch","z":"78573cf7.39cf14","name":"if needInsert is false","property":"needInsert","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":420,"wires":[["6cef8dfa.55e764"]]},{"id":"6cef8dfa.55e764","type":"debug","z":"78573cf7.39cf14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":420,"wires":[]},{"id":"e0cb6529.f95768","type":"change","z":"eecc3580.9eb0e8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.affectedRows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":420,"wires":[["d8c17cae.85371"]]},{"id":"55785f54.fb09b","type":"change","z":"eecc3580.9eb0e8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.affectedRows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":615,"wires":[["62ec1444.014b0c"]]},{"id":"7b6474e0.bd1a5c","type":"change","z":"eecc3580.9eb0e8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.affectedRows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":225,"wires":[["3ef5953b.5279da"]]},{"id":"294e743a.0ae45c","type":"json","z":"31cff835.971cb8","name":"","property":"payload","action":"str","pretty":false,"x":830,"y":75,"wires":[["9d18f0a8.9d173"]]},{"id":"8dca4272.533f8","type":"change","z":"31cff835.971cb8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.affectedRows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":270,"wires":[["6c1d8860.331e38"]]},{"id":"438bdb49.6c3c54","type":"catch","z":"31cff835.971cb8","name":"","scope":["c42ebf8.cd6c14"],"x":530,"y":330,"wires":[["f3400aba.b17018","13e33c35.95f014"]]},{"id":"f3400aba.b17018","type":"change","z":"31cff835.971cb8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":330,"wires":[["6c1d8860.331e38"]]},{"id":"a7933a07.bd69d8","type":"catch","z":"31cff835.971cb8","name":"","scope":["9eaf56fa.8ff4f8"],"x":905,"y":780,"wires":[["9213415c.9a604","4824d43.52f4b2c"]]},{"id":"9213415c.9a604","type":"change","z":"31cff835.971cb8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":780,"wires":[["3f286fe0.6c75"]]},{"id":"a7b8a124.c9c89","type":"change","z":"31cff835.971cb8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.affectedRows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":720,"wires":[["3f286fe0.6c75"]]},{"id":"85a7ccc3.192b","type":"catch","z":"eecc3580.9eb0e8","name":"","scope":["d0094eb.be5b5b"],"x":530,"y":675,"wires":[["8eab9891.29d828"]]},{"id":"8eab9891.29d828","type":"change","z":"eecc3580.9eb0e8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":675,"wires":[["62ec1444.014b0c"]]},{"id":"7132d66f.cf8128","type":"catch","z":"eecc3580.9eb0e8","name":"","scope":["51f49e55.acc1f"],"x":530,"y":480,"wires":[["492707e1.104e18"]]},{"id":"492707e1.104e18","type":"change","z":"eecc3580.9eb0e8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":480,"wires":[["d8c17cae.85371"]]},{"id":"d165a354.c8fcd","type":"catch","z":"eecc3580.9eb0e8","name":"","scope":["33ec31d2.7bc64e"],"x":525,"y":285,"wires":[["d24d2a62.7c5418","9b1aa0a4.f9847"]]},{"id":"d24d2a62.7c5418","type":"change","z":"eecc3580.9eb0e8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":285,"wires":[["3ef5953b.5279da"]]},{"id":"d96a9f87.08ac1","type":"http in","z":"31cff835.971cb8","name":"http request","url":"/api/produzione","method":"post","upload":false,"swaggerDoc":"","x":100,"y":495,"wires":[["2ab8dc50.b54c54"]]},{"id":"84effff9.f4052","type":"http response","z":"31cff835.971cb8","name":"http response","statusCode":"200","headers":{},"x":950,"y":495,"wires":[]},{"id":"89a727a8.bb2b38","type":"comment","z":"31cff835.971cb8","name":"API POST PRODUZIONE | modifica la priorità di una produzione","info":"","x":260,"y":455,"wires":[]},{"id":"2ab8dc50.b54c54","type":"function","z":"31cff835.971cb8","name":"Query Composer","func":"obj= msg.req.body;\n\nquery = `UPDATE PRODUZIONE SET PRIORITA = ${obj.priorita} WHERE PRODUZIONE_ID = ${obj.produzioneId};`;\n\n\nnode.warn(query);\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":495,"wires":[["db3842f0.7498e"]]},{"id":"db3842f0.7498e","type":"mysql","z":"31cff835.971cb8","mydb":"a53d29c5.93e1f8","name":"","x":530,"y":495,"wires":[["dd74165a.0c6c08"]]},{"id":"dd74165a.0c6c08","type":"change","z":"31cff835.971cb8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.affectedRows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":495,"wires":[["84effff9.f4052"]]},{"id":"e49223c5.d856d","type":"catch","z":"31cff835.971cb8","name":"","scope":["db3842f0.7498e"],"x":530,"y":555,"wires":[["54e1bcda.ba4954"]]},{"id":"54e1bcda.ba4954","type":"change","z":"31cff835.971cb8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":555,"wires":[["84effff9.f4052"]]},{"id":"67e96a64.e7e774","type":"debug","z":"31cff835.971cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":275,"y":345,"wires":[]},{"id":"13e33c35.95f014","type":"debug","z":"31cff835.971cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":665,"y":375,"wires":[]},{"id":"8d9859ff.764aa8","type":"debug","z":"31cff835.971cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":635,"y":660,"wires":[]},{"id":"4824d43.52f4b2c","type":"debug","z":"31cff835.971cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":840,"wires":[]},{"id":"8548445b.b75d88","type":"function","z":"31cff835.971cb8","name":"Query Composer","func":"node.warn(msg.req.query);\n\nquery = `DELETE FROM PRODUZIONE WHERE PRODUZIONE_ID = ${msg.req.query.produzioneId}`;\n\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":720,"wires":[["fbdddb14.d07668"]]},{"id":"fbdddb14.d07668","type":"mysql","z":"31cff835.971cb8","mydb":"a53d29c5.93e1f8","name":"","x":920,"y":720,"wires":[["a7b8a124.c9c89"]]},{"id":"55304836.02a368","type":"http in","z":"b75a4507.2ec598","name":"http request","url":"/api/produzioneConclusa","method":"get","upload":false,"swaggerDoc":"","x":115,"y":75,"wires":[["989da5d5.ccf1e8"]]},{"id":"43fb5f4a.4a34d","type":"http response","z":"b75a4507.2ec598","name":"http response","statusCode":"200","headers":{},"x":890,"y":75,"wires":[]},{"id":"31d4044f.0c5c7c","type":"comment","z":"b75a4507.2ec598","name":"API GET PRODUZIONE CONCLUSA | restituisce l'elenco completo della produzione conclusa","info":"","x":375,"y":35,"wires":[]},{"id":"989da5d5.ccf1e8","type":"function","z":"b75a4507.2ec598","name":"Query Composer","func":"query = `select * from PRODUZIONI_CONCLUSE ORDER BY PRODUZIONE_ID desc`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":75,"wires":[["8f54984c.ab8608"]]},{"id":"8f54984c.ab8608","type":"mysql","z":"b75a4507.2ec598","mydb":"a53d29c5.93e1f8","name":"","x":545,"y":75,"wires":[["307f1850.3bdd08"]]},{"id":"307f1850.3bdd08","type":"json","z":"b75a4507.2ec598","name":"","property":"payload","action":"str","pretty":false,"x":695,"y":75,"wires":[["43fb5f4a.4a34d"]]},{"id":"39c79395.39268c","type":"debug","z":"76e6f17c.d5872","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":920,"y":135,"wires":[]},{"id":"9b1aa0a4.f9847","type":"debug","z":"eecc3580.9eb0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":345,"wires":[]},{"id":"85924f28.2ffbb","type":"debug","z":"276b2f69.e5c3f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":225,"wires":[]},{"id":"56697095.612d7","type":"change","z":"276b2f69.e5c3f","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":180,"wires":[["23f73dec.f86002"]]},{"id":"fecdc372.d13a7","type":"http in","z":"31cff835.971cb8","name":"http request","url":"/api/inizioProduzione","method":"get","upload":false,"swaggerDoc":"","x":100,"y":945,"wires":[["e395b332.c31b7"]]},{"id":"3cf13bde.b97f44","type":"http response","z":"31cff835.971cb8","name":"http response","statusCode":"200","headers":{},"x":1010,"y":945,"wires":[]},{"id":"4637ed08.d0b174","type":"comment","z":"31cff835.971cb8","name":"API GET INIZIA_PRODUZIONE | ritorna true o false se una produzione è gia in corso","info":"","x":330,"y":900,"wires":[]},{"id":"e395b332.c31b7","type":"function","z":"31cff835.971cb8","name":"Query Composer","func":"query = `select count(*) as 'attivi' from PRODUZIONE where DATA_INIZIO is not null`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":945,"wires":[["84b56242.aa27c"]]},{"id":"84b56242.aa27c","type":"mysql","z":"31cff835.971cb8","mydb":"a53d29c5.93e1f8","name":"","x":585,"y":945,"wires":[["1e8063a1.e7522c","2fc1657f.8928ba"]]},{"id":"f6cd744c.2a6e98","type":"http in","z":"31cff835.971cb8","name":"http request","url":"/api/inizioProduzione","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1065,"wires":[["b78e4413.1a7bc8","608a6789.559758"]]},{"id":"880bd2f6.d4141","type":"http response","z":"31cff835.971cb8","name":"http response","statusCode":"200","headers":{},"x":1010,"y":1065,"wires":[]},{"id":"36eccc91.1dbe04","type":"comment","z":"31cff835.971cb8","name":"API POST INIZIA_PRODUZIONE | Inizia Una nuova Produzione","info":"","x":260,"y":1020,"wires":[]},{"id":"b78e4413.1a7bc8","type":"function","z":"31cff835.971cb8","name":"Query Composer","func":"let produzione = msg.payload.PRODUZIONE_ID;\n\nquery = `UPDATE PRODUZIONE SET DATA_INIZIO = CURRENT_TIMESTAMP WHERE PRODUZIONE_ID = ${produzione} `;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1065,"wires":[["3fbbd77e.7282e8"]]},{"id":"3fbbd77e.7282e8","type":"mysql","z":"31cff835.971cb8","mydb":"a53d29c5.93e1f8","name":"","x":585,"y":1065,"wires":[["bba59eff.cb3c4"]]},{"id":"608a6789.559758","type":"debug","z":"31cff835.971cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":365,"y":1140,"wires":[]},{"id":"1e8063a1.e7522c","type":"debug","z":"31cff835.971cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":815,"y":990,"wires":[]},{"id":"2fc1657f.8928ba","type":"change","z":"31cff835.971cb8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].attivi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":945,"wires":[["3cf13bde.b97f44"]]},{"id":"bba59eff.cb3c4","type":"change","z":"31cff835.971cb8","name":"return","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.affectedRows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1065,"wires":[["880bd2f6.d4141"]]},{"id":"14830f11.c74111","type":"debug","z":"78573cf7.39cf14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":500,"y":460,"wires":[]},{"id":"2ddc3633.baa12a","type":"websocket in","z":"cda1739a.1142d","name":"","server":"b664d14d.71ebf","client":"","x":130,"y":75,"wires":[["18432316.ef6bdd"]]},{"id":"f70d5b65.eb3f98","type":"switch","z":"cda1739a.1142d","name":"Write Tag Request","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"TagWriteRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":45,"wires":[["af162739.2dae88"]]},{"id":"c4b3f4df.b41048","type":"websocket out","z":"cda1739a.1142d","name":"","server":"b664d14d.71ebf","client":"","x":970,"y":45,"wires":[]},{"id":"af162739.2dae88","type":"json","z":"cda1739a.1142d","name":"","property":"payload","action":"str","pretty":false,"x":755,"y":45,"wires":[["c4b3f4df.b41048"]]},{"id":"18432316.ef6bdd","type":"json","z":"cda1739a.1142d","name":"","property":"payload","action":"obj","pretty":false,"x":315,"y":75,"wires":[["f70d5b65.eb3f98","cccdade5.ef31a"]]},{"id":"cccdade5.ef31a","type":"switch","z":"cda1739a.1142d","name":"Read Tag Request","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"TagReadRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":120,"wires":[["1689bc4.b0b0444"]]},{"id":"bccb0803.d9a568","type":"websocket out","z":"cda1739a.1142d","name":"","server":"b664d14d.71ebf","client":"","x":1045,"y":120,"wires":[]},{"id":"1689bc4.b0b0444","type":"function","z":"cda1739a.1142d","name":"restituisco tutte le tags presenti","func":"let dbg = true;\n\nlet tags = global.get(\"tags\");\nmsg.payload = tags;\nnode.warn(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":805,"y":120,"wires":[["bccb0803.d9a568"]]},{"id":"a5cc2d7d.f9572","type":"debug","z":"eecc3580.9eb0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":135,"wires":[]},{"id":"552ce913.23b048","type":"http in","z":"ebc9f6f5.6fe5c8","name":"GET /api/alarms","url":"/api/alarms","method":"get","upload":false,"swaggerDoc":"","x":125,"y":135,"wires":[["95efb1d.bd3315"]]},{"id":"a51a11bb.8d6b2","type":"http response","z":"ebc9f6f5.6fe5c8","name":"","statusCode":"200","headers":{},"x":1140,"y":135,"wires":[]},{"id":"95efb1d.bd3315","type":"function","z":"ebc9f6f5.6fe5c8","name":"ricerca tag con radice 'alarms'","func":"let dbg = false;\nif (dbg) node.warn(\"dbg on\");\n\nlet requestedTags = global.get(\"tags\").filter(obj => {\n  if (dbg) node.warn(obj);  \n  return obj.name.startsWith(\"alarms\");\n})\n\n//node.warn(requestedTags);\n\nmsg.alarms = requestedTags;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":90,"wires":[["9dc1c9cd.d3c6d8"]]},{"id":"23439860.175228","type":"inject","z":"ebc9f6f5.6fe5c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":90,"wires":[["95efb1d.bd3315"]]},{"id":"cb0fd7c2.5a3328","type":"comment","z":"ebc9f6f5.6fe5c8","name":"Stato allarmi","info":"","x":115,"y":45,"wires":[]},{"id":"5a954ae0.9c3214","type":"mysql","z":"ebc9f6f5.6fe5c8","mydb":"a53d29c5.93e1f8","name":"","x":825,"y":90,"wires":[["405226e6.c8d2d8"]]},{"id":"9dc1c9cd.d3c6d8","type":"function","z":"ebc9f6f5.6fe5c8","name":"query composer","func":"msg.topic = 'SELECT * FROM CATALOGO_ALLARMI WHERE CODICE != 0'; \n\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":90,"wires":[["5a954ae0.9c3214"]]},{"id":"405226e6.c8d2d8","type":"function","z":"ebc9f6f5.6fe5c8","name":"","func":"let count = msg.payload.length;\nlet allarmiForNg = [];\n\nfor (var i = 0; i < count; i++) {\n    \n    if (msg.alarms[i].name === 'alarms#riassunto') continue;\n    allarmiForNg.push({\n        \"nome\": msg.payload[i].TESTO,\n        \"value\": msg.alarms[i].value\n    });\n}\n\nmsg.payload = allarmiForNg;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":90,"wires":[["2efb1cd.924a7e4"]]},{"id":"2efb1cd.924a7e4","type":"json","z":"ebc9f6f5.6fe5c8","name":"","property":"payload","action":"str","pretty":false,"x":1130,"y":90,"wires":[["a51a11bb.8d6b2"]]},{"id":"b05c90a2.c3a0b","type":"link out","z":"cef9b916.e06d18","name":"Allarmi","links":["1bf532dd.67852d"],"x":1365,"y":195,"wires":[]},{"id":"1bf532dd.67852d","type":"link in","z":"ebc9f6f5.6fe5c8","name":"","links":["b05c90a2.c3a0b"],"x":60,"y":225,"wires":[["6f2049cd.a77788"]]},{"id":"be0b790e.e3ac38","type":"rbe","z":"ebc9f6f5.6fe5c8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":380,"y":225,"wires":[["620a7663.c87d38"]]},{"id":"6f2049cd.a77788","type":"function","z":"ebc9f6f5.6fe5c8","name":"get AlarmResume","func":"msg.payload = global.get(\"tags\").find(x=>x.name === \"alarms#riassunto\").value;\nreturn msg;","outputs":1,"noerr":0,"x":195,"y":225,"wires":[["be0b790e.e3ac38"]]},{"id":"620a7663.c87d38","type":"function","z":"ebc9f6f5.6fe5c8","name":"query composer","func":"let alarms = global.get(\"tags\").filter(obj => {\n  return obj.name.startsWith(\"alarms\");\n});\n\nlet arrayOfAlarmsCodes = [];\n\nfor (var i = 0; i < alarms.length; i++) {\n    \n    if (alarms[i].name === 'alarms#riassunto' && alarms[i].value === 0) {\n        arrayOfAlarmsCodes = [{\"codice\": 0}];\n        break;\n    }\n    \n    if (alarms[i].name === 'alarms#riassunto' || alarms[i].value === false) \n        continue;\n    \n    arrayOfAlarmsCodes.push({\n        \"codice\": alarms[i].name.substr(alarms[i].name.indexOf('#')+1) \n    });\n}\n\nfor (var i = 0; i < arrayOfAlarmsCodes.length; i++) {\n    arrayOfAlarmsCodes[i] = `(${arrayOfAlarmsCodes[i].codice})`;\n}\n\nmsg.topic = `INSERT INTO LOG_ALLARMI (CODICE_ALLARME) VALUES ${arrayOfAlarmsCodes.join(',')}`;\n//node.warn(msg.topic);\n\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":225,"wires":[["2ce66aab.27a6a6"]]},{"id":"2ce66aab.27a6a6","type":"mysql","z":"ebc9f6f5.6fe5c8","mydb":"a53d29c5.93e1f8","name":"","x":765,"y":225,"wires":[[]]},{"id":"2459698b.f2aa36","type":"http in","z":"ebc9f6f5.6fe5c8","name":"http request","url":"/api/storiaAllarmi","method":"get","upload":false,"swaggerDoc":"","x":115,"y":375,"wires":[["39dedb22.1dd994"]]},{"id":"2986d272.a1e0ae","type":"http response","z":"ebc9f6f5.6fe5c8","name":"http response","statusCode":"200","headers":{},"x":965,"y":375,"wires":[]},{"id":"406b529c.2973ac","type":"json","z":"ebc9f6f5.6fe5c8","name":"","property":"payload","action":"str","pretty":false,"x":765,"y":375,"wires":[["2986d272.a1e0ae","a402c321.e120f"]]},{"id":"e91e0101.fe4c1","type":"comment","z":"ebc9f6f5.6fe5c8","name":"API GET TAGLI | restituisce l'elenco completo degli ultimi allarmi","info":"","x":275,"y":330,"wires":[]},{"id":"39dedb22.1dd994","type":"function","z":"ebc9f6f5.6fe5c8","name":"Query Composer","func":"query = `select l.T_STAMP, c.TESTO from LOG_ALLARMI as l\njoin CATALOGO_ALLARMI as c on c.CODICE = l.CODICE_ALLARME\norder by T_STAMP desc limit ${msg.req.query.rows}`;\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":375,"wires":[["d1e93bc.af254c8"]]},{"id":"d1e93bc.af254c8","type":"mysql","z":"ebc9f6f5.6fe5c8","mydb":"a53d29c5.93e1f8","name":"","x":595,"y":375,"wires":[["406b529c.2973ac"]]},{"id":"a402c321.e120f","type":"debug","z":"ebc9f6f5.6fe5c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":935,"y":435,"wires":[]},{"id":"6f296215.863a2c","type":"inject","z":"ebc9f6f5.6fe5c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":480,"wires":[["39dedb22.1dd994"]]},{"id":"e6314212.6d873","type":"mysql","z":"78573cf7.39cf14","mydb":"a53d29c5.93e1f8","name":"","x":1095,"y":75,"wires":[["d577f493.4b7638","b8f7b6f9.c4c268"]]},{"id":"a6ce37bc.b70af8","type":"function","z":"78573cf7.39cf14","name":"Query Composer Get Produzione aperta","func":"query = `SELECT CODICE_PRODUZIONE FROM PRODUZIONE WHERE DATA_INIZIO IS NOT NULL LIMIT 1;`;\n\nmsg.topic = query;\nreturn msg;\n","outputs":1,"noerr":0,"x":820,"y":75,"wires":[["e6314212.6d873"]]},{"id":"d577f493.4b7638","type":"change","z":"78573cf7.39cf14","name":"","rules":[{"t":"set","p":"codiceProduzione","pt":"msg","to":"payload[0].CODICE_PRODUZIONE","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":135,"wires":[["1beac781.e0fad8"]]},{"id":"b8f7b6f9.c4c268","type":"debug","z":"78573cf7.39cf14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1085,"y":135,"wires":[]},{"id":"40ce5e14.cff8a","type":"switch","z":"78573cf7.39cf14","name":"","property":"richiestaIncremento.richiesta","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":755,"y":255,"wires":[["4d2c19fc.03aba8"]]},{"id":"4d2c19fc.03aba8","type":"function","z":"78573cf7.39cf14","name":"Query Composer","func":"let prodotti = msg.richiestaIncremento.tagliEffettuati;\nlet query = `UPDATE PRODUZIONE SET PRODOTTI = ${prodotti}`;\nmsg.topic = query;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":255,"wires":[["df45b4c8.f15708"]]},{"id":"df45b4c8.f15708","type":"mysql","z":"78573cf7.39cf14","mydb":"a53d29c5.93e1f8","name":"","x":1155,"y":255,"wires":[[]]}]
